$icomoon-font-family: "tbo-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-error: unquote('"\\e900"');
$icon-error_outline: unquote('"\\e901"');
$icon-warning: unquote('"\\e902"');
$icon-add_alert: unquote('"\\e903"');
$icon-notification_important: unquote('"\\e904"');
$icon-album: unquote('"\\e905"');
$icon-av_timer: unquote('"\\e906"');
$icon-closed_caption: unquote('"\\e907"');
$icon-equalizer: unquote('"\\e908"');
$icon-explicit: unquote('"\\e909"');
$icon-fast_forward: unquote('"\\e90a"');
$icon-fast_rewind: unquote('"\\e90b"');
$icon-games: unquote('"\\e90c"');
$icon-hearing: unquote('"\\e90d"');
$icon-high_quality: unquote('"\\e90e"');
$icon-loop: unquote('"\\e90f"');
$icon-mic: unquote('"\\e910"');
$icon-mic_none: unquote('"\\e911"');
$icon-mic_off: unquote('"\\e912"');
$icon-movie: unquote('"\\e913"');
$icon-library_add: unquote('"\\e914"');
$icon-library_books: unquote('"\\e915"');
$icon-library_music: unquote('"\\e916"');
$icon-new_releases: unquote('"\\e917"');
$icon-not_interested: unquote('"\\e918"');
$icon-pause: unquote('"\\e919"');
$icon-pause_circle_filled: unquote('"\\e91a"');
$icon-pause_circle_outline: unquote('"\\e91b"');
$icon-play_arrow: unquote('"\\e91c"');
$icon-play_circle_filled: unquote('"\\e91d"');
$icon-play_circle_outline: unquote('"\\e91e"');
$icon-playlist_add: unquote('"\\e91f"');
$icon-queue_music: unquote('"\\e920"');
$icon-radio: unquote('"\\e921"');
$icon-recent_actors: unquote('"\\e922"');
$icon-repeat: unquote('"\\e923"');
$icon-repeat_one: unquote('"\\e924"');
$icon-replay: unquote('"\\e925"');
$icon-shuffle: unquote('"\\e926"');
$icon-skip_next: unquote('"\\e927"');
$icon-skip_previous: unquote('"\\e928"');
$icon-snooze: unquote('"\\e929"');
$icon-stop: unquote('"\\e92a"');
$icon-subtitles: unquote('"\\e92b"');
$icon-surround_sound: unquote('"\\e92c"');
$icon-video_library: unquote('"\\e92d"');
$icon-videocam: unquote('"\\e92e"');
$icon-videocam_off: unquote('"\\e92f"');
$icon-volume_down: unquote('"\\e930"');
$icon-volume_mute: unquote('"\\e931"');
$icon-volume_off: unquote('"\\e932"');
$icon-volume_up: unquote('"\\e933"');
$icon-web: unquote('"\\e934"');
$icon-hd: unquote('"\\e935"');
$icon-sort_by_alpha: unquote('"\\e936"');
$icon-airplay: unquote('"\\e937"');
$icon-forward_10: unquote('"\\e938"');
$icon-forward_30: unquote('"\\e939"');
$icon-forward_5: unquote('"\\e93a"');
$icon-replay_10: unquote('"\\e93b"');
$icon-replay_30: unquote('"\\e93c"');
$icon-replay_5: unquote('"\\e93d"');
$icon-add_to_queue: unquote('"\\e93e"');
$icon-fiber_dvr: unquote('"\\e93f"');
$icon-fiber_new: unquote('"\\e940"');
$icon-playlist_play: unquote('"\\e941"');
$icon-art_track: unquote('"\\e942"');
$icon-fiber_manual_record: unquote('"\\e943"');
$icon-fiber_smart_record: unquote('"\\e944"');
$icon-music_video: unquote('"\\e945"');
$icon-subscriptions: unquote('"\\e946"');
$icon-playlist_add_check: unquote('"\\e947"');
$icon-queue_play_next: unquote('"\\e948"');
$icon-remove_from_queue: unquote('"\\e949"');
$icon-slow_motion_video: unquote('"\\e94a"');
$icon-web_asset: unquote('"\\e94b"');
$icon-fiber_pin: unquote('"\\e94c"');
$icon-branding_watermark: unquote('"\\e94d"');
$icon-call_to_action: unquote('"\\e94e"');
$icon-featured_play_list: unquote('"\\e94f"');
$icon-featured_video: unquote('"\\e950"');
$icon-note: unquote('"\\e951"');
$icon-video_call: unquote('"\\e952"');
$icon-video_label: unquote('"\\e953"');
$icon-4k: unquote('"\\e954"');
$icon-missed_video_call: unquote('"\\e955"');
$icon-control_camera: unquote('"\\e956"');
$icon-business: unquote('"\\e957"');
$icon-call: unquote('"\\e958"');
$icon-call_end: unquote('"\\e959"');
$icon-call_made: unquote('"\\e95a"');
$icon-call_merge: unquote('"\\e95b"');
$icon-call_missed: unquote('"\\e95c"');
$icon-call_received: unquote('"\\e95d"');
$icon-call_split: unquote('"\\e95e"');
$icon-chat: unquote('"\\e95f"');
$icon-clear_all: unquote('"\\e960"');
$icon-comment: unquote('"\\e961"');
$icon-contacts: unquote('"\\e962"');
$icon-dialpad: unquote('"\\e963"');
$icon-email: unquote('"\\e964"');
$icon-forum: unquote('"\\e965"');
$icon-import_export: unquote('"\\e966"');
$icon-invert_colors_off: unquote('"\\e967"');
$icon-live_help: unquote('"\\e968"');
$icon-location_off: unquote('"\\e969"');
$icon-location_on: unquote('"\\e96a"');
$icon-message: unquote('"\\e96b"');
$icon-chat_bubble: unquote('"\\e96c"');
$icon-chat_bubble_outline: unquote('"\\e96d"');
$icon-no_sim: unquote('"\\e96e"');
$icon-phone: unquote('"\\e96f"');
$icon-portable_wifi_off: unquote('"\\e970"');
$icon-contact_phone: unquote('"\\e971"');
$icon-contact_mail: unquote('"\\e972"');
$icon-ring_volume: unquote('"\\e973"');
$icon-speaker_phone: unquote('"\\e974"');
$icon-stay_current_landscape: unquote('"\\e975"');
$icon-stay_current_portrait: unquote('"\\e976"');
$icon-swap_calls: unquote('"\\e977"');
$icon-textsms: unquote('"\\e978"');
$icon-voicemail: unquote('"\\e979"');
$icon-vpn_key: unquote('"\\e97a"');
$icon-phonelink_lock: unquote('"\\e97b"');
$icon-phonelink_ring: unquote('"\\e97c"');
$icon-phonelink_setup: unquote('"\\e97d"');
$icon-present_to_all: unquote('"\\e97e"');
$icon-import_contacts: unquote('"\\e97f"');
$icon-mail_outline: unquote('"\\e980"');
$icon-screen_share: unquote('"\\e981"');
$icon-stop_screen_share: unquote('"\\e982"');
$icon-call_missed_outgoing: unquote('"\\e983"');
$icon-rss_feed: unquote('"\\e984"');
$icon-alternate_email: unquote('"\\e985"');
$icon-mobile_screen_share: unquote('"\\e986"');
$icon-add_call: unquote('"\\e987"');
$icon-cancel_presentation: unquote('"\\e988"');
$icon-pause_presentation: unquote('"\\e989"');
$icon-unsubscribe: unquote('"\\e98a"');
$icon-cell_wifi: unquote('"\\e98b"');
$icon-sentiment_satisfied_alt: unquote('"\\e98c"');
$icon-list_alt: unquote('"\\e98d"');
$icon-domain_disabled: unquote('"\\e98e"');
$icon-lightbulb: unquote('"\\e98f"');
$icon-add: unquote('"\\e990"');
$icon-add_box: unquote('"\\e991"');
$icon-add_circle: unquote('"\\e992"');
$icon-archive: unquote('"\\e993"');
$icon-backspace: unquote('"\\e994"');
$icon-block: unquote('"\\e995"');
$icon-clear: unquote('"\\e996"');
$icon-content_copy: unquote('"\\e997"');
$icon-content_cut: unquote('"\\e998"');
$icon-content_paste: unquote('"\\e999"');
$icon-create: unquote('"\\e99a"');
$icon-drafts: unquote('"\\e99b"');
$icon-filter_list: unquote('"\\e99c"');
$icon-flag: unquote('"\\e99d"');
$icon-forward: unquote('"\\e99e"');
$icon-gesture: unquote('"\\e99f"');
$icon-inbox: unquote('"\\e9a0"');
$icon-link: unquote('"\\e9a1"');
$icon-redo: unquote('"\\e9a2"');
$icon-remove: unquote('"\\e9a3"');
$icon-remove_circle: unquote('"\\e9a4"');
$icon-remove_circle_outline: unquote('"\\e9a5"');
$icon-reply: unquote('"\\e9a6"');
$icon-reply_all: unquote('"\\e9a7"');
$icon-report: unquote('"\\e9a8"');
$icon-save: unquote('"\\e9a9"');
$icon-select_all: unquote('"\\e9aa"');
$icon-sort: unquote('"\\e9ab"');
$icon-text_format: unquote('"\\e9ac"');
$icon-undo: unquote('"\\e9ad"');
$icon-font_download: unquote('"\\e9ae"');
$icon-move_to_inbox: unquote('"\\e9af"');
$icon-unarchive: unquote('"\\e9b0"');
$icon-next_week: unquote('"\\e9b1"');
$icon-weekend: unquote('"\\e9b2"');
$icon-delete_sweep: unquote('"\\e9b3"');
$icon-low_priority: unquote('"\\e9b4"');
$icon-outlined_flag: unquote('"\\e9b5"');
$icon-link_off: unquote('"\\e9b6"');
$icon-report_off: unquote('"\\e9b7"');
$icon-save_alt: unquote('"\\e9b8"');
$icon-ballot: unquote('"\\e9b9"');
$icon-file_copy: unquote('"\\e9ba"');
$icon-how_to_reg: unquote('"\\e9bb"');
$icon-how_to_vote: unquote('"\\e9bc"');
$icon-waves: unquote('"\\e9bd"');
$icon-where_to_vote: unquote('"\\e9be"');
$icon-add_link: unquote('"\\e9bf"');
$icon-inventory: unquote('"\\e9c0"');
$icon-access_alarm: unquote('"\\e9c1"');
$icon-access_alarms: unquote('"\\e9c2"');
$icon-add_alarm: unquote('"\\e9c3"');
$icon-airplanemode_off: unquote('"\\e9c4"');
$icon-airplanemode_on: unquote('"\\e9c5"');
$icon-battery_alert: unquote('"\\e9c6"');
$icon-battery_charging_full: unquote('"\\e9c7"');
$icon-battery_full: unquote('"\\e9c8"');
$icon-battery_unknown: unquote('"\\e9c9"');
$icon-bluetooth: unquote('"\\e9ca"');
$icon-bluetooth_connected: unquote('"\\e9cb"');
$icon-bluetooth_disabled: unquote('"\\e9cc"');
$icon-bluetooth_searching: unquote('"\\e9cd"');
$icon-brightness_auto: unquote('"\\e9ce"');
$icon-brightness_high: unquote('"\\e9cf"');
$icon-brightness_low: unquote('"\\e9d0"');
$icon-brightness_medium: unquote('"\\e9d1"');
$icon-data_usage: unquote('"\\e9d2"');
$icon-developer_mode: unquote('"\\e9d3"');
$icon-devices: unquote('"\\e9d4"');
$icon-dvr: unquote('"\\e9d5"');
$icon-gps_fixed: unquote('"\\e9d6"');
$icon-gps_not_fixed: unquote('"\\e9d7"');
$icon-gps_off: unquote('"\\e9d8"');
$icon-graphic_eq: unquote('"\\e9d9"');
$icon-network_cell: unquote('"\\e9da"');
$icon-nfc: unquote('"\\e9db"');
$icon-now_wallpaper: unquote('"\\e9dc"');
$icon-now_widgets: unquote('"\\e9dd"');
$icon-screen_lock_landscape: unquote('"\\e9de"');
$icon-screen_lock_portrait: unquote('"\\e9df"');
$icon-screen_lock_rotation: unquote('"\\e9e0"');
$icon-screen_rotation: unquote('"\\e9e1"');
$icon-sd_storage: unquote('"\\e9e2"');
$icon-settings_system_daydream: unquote('"\\e9e3"');
$icon-signal_cellular_4_bar: unquote('"\\e9e4"');
$icon-signal_cellular_connected_no_internet_4_bar: unquote('"\\e9e5"');
$icon-signal_cellular_null: unquote('"\\e9e6"');
$icon-signal_cellular_off: unquote('"\\e9e7"');
$icon-signal_wifi_4_bar: unquote('"\\e9e8"');
$icon-signal_wifi_4_bar_lock: unquote('"\\e9e9"');
$icon-signal_wifi_off: unquote('"\\e9ea"');
$icon-storage: unquote('"\\e9eb"');
$icon-usb: unquote('"\\e9ec"');
$icon-wifi_lock: unquote('"\\e9ed"');
$icon-wifi_tethering: unquote('"\\e9ee"');
$icon-add_to_home_screen: unquote('"\\e9ef"');
$icon-device_thermostat: unquote('"\\e9f0"');
$icon-mobile_friendly: unquote('"\\e9f1"');
$icon-mobile_off: unquote('"\\e9f2"');
$icon-attach_file: unquote('"\\e9f3"');
$icon-attach_money: unquote('"\\e9f4"');
$icon-border_all: unquote('"\\e9f5"');
$icon-border_bottom: unquote('"\\e9f6"');
$icon-border_clear: unquote('"\\e9f7"');
$icon-border_color: unquote('"\\e9f8"');
$icon-border_horizontal: unquote('"\\e9f9"');
$icon-border_inner: unquote('"\\e9fa"');
$icon-border_left: unquote('"\\e9fb"');
$icon-border_outer: unquote('"\\e9fc"');
$icon-border_right: unquote('"\\e9fd"');
$icon-border_style: unquote('"\\e9fe"');
$icon-border_top: unquote('"\\e9ff"');
$icon-border_vertical: unquote('"\\ea00"');
$icon-format_align_center: unquote('"\\ea01"');
$icon-format_align_justify: unquote('"\\ea02"');
$icon-format_align_left: unquote('"\\ea03"');
$icon-format_align_right: unquote('"\\ea04"');
$icon-format_bold: unquote('"\\ea05"');
$icon-format_clear: unquote('"\\ea06"');
$icon-format_color_fill: unquote('"\\ea07"');
$icon-format_color_reset: unquote('"\\ea08"');
$icon-format_color_text: unquote('"\\ea09"');
$icon-format_indent_decrease: unquote('"\\ea0a"');
$icon-format_italic: unquote('"\\ea0b"');
$icon-format_line_spacing: unquote('"\\ea0c"');
$icon-format_list_bulleted: unquote('"\\ea0d"');
$icon-format_list_numbered: unquote('"\\ea0e"');
$icon-format_paint: unquote('"\\ea0f"');
$icon-format_quote: unquote('"\\ea10"');
$icon-format_size: unquote('"\\ea11"');
$icon-format_strikethrough: unquote('"\\ea12"');
$icon-format_textdirection_l_to_r: unquote('"\\ea13"');
$icon-format_textdirection_r_to_l: unquote('"\\ea14"');
$icon-format_underlined: unquote('"\\ea15"');
$icon-functions: unquote('"\\ea16"');
$icon-insert_chart: unquote('"\\ea17"');
$icon-insert_comment: unquote('"\\ea18"');
$icon-insert_drive_file: unquote('"\\ea19"');
$icon-insert_emoticon: unquote('"\\ea1a"');
$icon-insert_invitation: unquote('"\\ea1b"');
$icon-insert_photo: unquote('"\\ea1c"');
$icon-mode_comment: unquote('"\\ea1d"');
$icon-publish: unquote('"\\ea1e"');
$icon-space_bar: unquote('"\\ea1f"');
$icon-strikethrough_s: unquote('"\\ea20"');
$icon-vertical_align_bottom: unquote('"\\ea21"');
$icon-vertical_align_center: unquote('"\\ea22"');
$icon-wrap_text: unquote('"\\ea23"');
$icon-money_off: unquote('"\\ea24"');
$icon-drag_handle: unquote('"\\ea25"');
$icon-format_shapes: unquote('"\\ea26"');
$icon-highlight: unquote('"\\ea27"');
$icon-linear_scale: unquote('"\\ea28"');
$icon-short_text: unquote('"\\ea29"');
$icon-text_fields: unquote('"\\ea2a"');
$icon-monetization_on: unquote('"\\ea2b"');
$icon-title: unquote('"\\ea2c"');
$icon-table_chart: unquote('"\\ea2d"');
$icon-add_comment: unquote('"\\ea2e"');
$icon-format_list_numbered_rtl: unquote('"\\ea2f"');
$icon-scatter_plot: unquote('"\\ea30"');
$icon-score: unquote('"\\ea31"');
$icon-insert_chart_outlined: unquote('"\\ea32"');
$icon-bar_chart: unquote('"\\ea33"');
$icon-notes: unquote('"\\ea34"');
$icon-attachment: unquote('"\\ea35"');
$icon-cloud: unquote('"\\ea36"');
$icon-cloud_circle: unquote('"\\ea37"');
$icon-cloud_done: unquote('"\\ea38"');
$icon-cloud_download: unquote('"\\ea39"');
$icon-cloud_off: unquote('"\\ea3a"');
$icon-cloud_upload: unquote('"\\ea3b"');
$icon-file_download: unquote('"\\ea3c"');
$icon-file_upload: unquote('"\\ea3d"');
$icon-folder: unquote('"\\ea3e"');
$icon-folder_open: unquote('"\\ea3f"');
$icon-folder_shared: unquote('"\\ea40"');
$icon-create_new_folder: unquote('"\\ea41"');
$icon-cast: unquote('"\\ea42"');
$icon-cast_connected: unquote('"\\ea43"');
$icon-computer: unquote('"\\ea44"');
$icon-desktop_mac: unquote('"\\ea45"');
$icon-desktop_windows: unquote('"\\ea46"');
$icon-developer_board: unquote('"\\ea47"');
$icon-dock: unquote('"\\ea48"');
$icon-headset: unquote('"\\ea49"');
$icon-headset_mic: unquote('"\\ea4a"');
$icon-keyboard: unquote('"\\ea4b"');
$icon-keyboard_arrow_down: unquote('"\\ea4c"');
$icon-keyboard_arrow_left: unquote('"\\ea4d"');
$icon-keyboard_arrow_right: unquote('"\\ea4e"');
$icon-keyboard_arrow_up: unquote('"\\ea4f"');
$icon-keyboard_backspace: unquote('"\\ea50"');
$icon-keyboard_capslock: unquote('"\\ea51"');
$icon-keyboard_hide: unquote('"\\ea52"');
$icon-keyboard_tab: unquote('"\\ea53"');
$icon-keyboard_voice: unquote('"\\ea54"');
$icon-laptop_chromebook: unquote('"\\ea55"');
$icon-laptop_mac: unquote('"\\ea56"');
$icon-laptop_windows: unquote('"\\ea57"');
$icon-memory: unquote('"\\ea58"');
$icon-mouse: unquote('"\\ea59"');
$icon-phone_android: unquote('"\\ea5a"');
$icon-phone_iphone: unquote('"\\ea5b"');
$icon-phonelink_off: unquote('"\\ea5c"');
$icon-router: unquote('"\\ea5d"');
$icon-scanner: unquote('"\\ea5e"');
$icon-security: unquote('"\\ea5f"');
$icon-sim_card: unquote('"\\ea60"');
$icon-speaker: unquote('"\\ea61"');
$icon-speaker_group: unquote('"\\ea62"');
$icon-tablet: unquote('"\\ea63"');
$icon-tablet_android: unquote('"\\ea64"');
$icon-tablet_mac: unquote('"\\ea65"');
$icon-toys: unquote('"\\ea66"');
$icon-tv: unquote('"\\ea67"');
$icon-watch: unquote('"\\ea68"');
$icon-device_hub: unquote('"\\ea69"');
$icon-power_input: unquote('"\\ea6a"');
$icon-videogame_asset: unquote('"\\ea6b"');
$icon-device_unknown: unquote('"\\ea6c"');
$icon-headset_off: unquote('"\\ea6d"');
$icon-adjust: unquote('"\\ea6e"');
$icon-assistant: unquote('"\\ea6f"');
$icon-audiotrack: unquote('"\\ea70"');
$icon-blur_circular: unquote('"\\ea71"');
$icon-blur_linear: unquote('"\\ea72"');
$icon-blur_off: unquote('"\\ea73"');
$icon-blur_on: unquote('"\\ea74"');
$icon-brightness_1: unquote('"\\ea75"');
$icon-brightness_2: unquote('"\\ea76"');
$icon-brightness_3: unquote('"\\ea77"');
$icon-brightness_4: unquote('"\\ea78"');
$icon-broken_image: unquote('"\\ea79"');
$icon-brush: unquote('"\\ea7a"');
$icon-camera: unquote('"\\ea7b"');
$icon-camera_alt: unquote('"\\ea7c"');
$icon-camera_front: unquote('"\\ea7d"');
$icon-camera_rear: unquote('"\\ea7e"');
$icon-camera_roll: unquote('"\\ea7f"');
$icon-center_focus_strong: unquote('"\\ea80"');
$icon-center_focus_weak: unquote('"\\ea81"');
$icon-collections: unquote('"\\ea82"');
$icon-colorize: unquote('"\\ea83"');
$icon-compare: unquote('"\\ea84"');
$icon-control_point_duplicate: unquote('"\\ea85"');
$icon-crop_16_9: unquote('"\\ea86"');
$icon-crop_3_2: unquote('"\\ea87"');
$icon-crop: unquote('"\\ea88"');
$icon-crop_5_4: unquote('"\\ea89"');
$icon-crop_7_5: unquote('"\\ea8a"');
$icon-crop_din: unquote('"\\ea8b"');
$icon-crop_free: unquote('"\\ea8c"');
$icon-crop_original: unquote('"\\ea8d"');
$icon-crop_portrait: unquote('"\\ea8e"');
$icon-crop_square: unquote('"\\ea8f"');
$icon-dehaze: unquote('"\\ea90"');
$icon-details: unquote('"\\ea91"');
$icon-exposure: unquote('"\\ea92"');
$icon-exposure_neg_1: unquote('"\\ea93"');
$icon-exposure_neg_2: unquote('"\\ea94"');
$icon-exposure_plus_1: unquote('"\\ea95"');
$icon-exposure_plus_2: unquote('"\\ea96"');
$icon-exposure_zero: unquote('"\\ea97"');
$icon-filter_1: unquote('"\\ea98"');
$icon-filter_2: unquote('"\\ea99"');
$icon-filter_3: unquote('"\\ea9a"');
$icon-filter_4: unquote('"\\ea9b"');
$icon-filter_5: unquote('"\\ea9c"');
$icon-filter_6: unquote('"\\ea9d"');
$icon-filter_7: unquote('"\\ea9e"');
$icon-filter_8: unquote('"\\ea9f"');
$icon-filter_9: unquote('"\\eaa0"');
$icon-filter_9_plus: unquote('"\\eaa1"');
$icon-filter_b_and_w: unquote('"\\eaa2"');
$icon-filter_center_focus: unquote('"\\eaa3"');
$icon-filter_drama: unquote('"\\eaa4"');
$icon-filter_frames: unquote('"\\eaa5"');
$icon-filter_hdr: unquote('"\\eaa6"');
$icon-filter_none: unquote('"\\eaa7"');
$icon-filter_tilt_shift: unquote('"\\eaa8"');
$icon-filter_vintage: unquote('"\\eaa9"');
$icon-flare: unquote('"\\eaaa"');
$icon-flash_auto: unquote('"\\eaab"');
$icon-flash_off: unquote('"\\eaac"');
$icon-flash_on: unquote('"\\eaad"');
$icon-flip: unquote('"\\eaae"');
$icon-gradient: unquote('"\\eaaf"');
$icon-grain: unquote('"\\eab0"');
$icon-grid_off: unquote('"\\eab1"');
$icon-grid_on: unquote('"\\eab2"');
$icon-hdr_on: unquote('"\\eab3"');
$icon-hdr_strong: unquote('"\\eab4"');
$icon-hdr_weak: unquote('"\\eab5"');
$icon-healing: unquote('"\\eab6"');
$icon-image_aspect_ratio: unquote('"\\eab7"');
$icon-iso: unquote('"\\eab8"');
$icon-leak_add: unquote('"\\eab9"');
$icon-leak_remove: unquote('"\\eaba"');
$icon-lens: unquote('"\\eabb"');
$icon-looks_3: unquote('"\\eabc"');
$icon-looks: unquote('"\\eabd"');
$icon-looks_4: unquote('"\\eabe"');
$icon-looks_5: unquote('"\\eabf"');
$icon-looks_6: unquote('"\\eac0"');
$icon-looks_one: unquote('"\\eac1"');
$icon-looks_two: unquote('"\\eac2"');
$icon-loupe: unquote('"\\eac3"');
$icon-monochrome_photos: unquote('"\\eac4"');
$icon-music_note: unquote('"\\eac5"');
$icon-nature: unquote('"\\eac6"');
$icon-nature_people: unquote('"\\eac7"');
$icon-navigate_before: unquote('"\\eac8"');
$icon-navigate_next: unquote('"\\eac9"');
$icon-panorama: unquote('"\\eaca"');
$icon-panorama_horizontal: unquote('"\\eacb"');
$icon-panorama_vertical: unquote('"\\eacc"');
$icon-panorama_wide_angle: unquote('"\\eacd"');
$icon-photo_album: unquote('"\\eace"');
$icon-picture_as_pdf: unquote('"\\eacf"');
$icon-portrait: unquote('"\\ead0"');
$icon-remove_red_eye: unquote('"\\ead1"');
$icon-rotate_90_degrees_ccw: unquote('"\\ead2"');
$icon-rotate_left: unquote('"\\ead3"');
$icon-rotate_right: unquote('"\\ead4"');
$icon-slideshow: unquote('"\\ead5"');
$icon-straighten: unquote('"\\ead6"');
$icon-style: unquote('"\\ead7"');
$icon-switch_camera: unquote('"\\ead8"');
$icon-switch_video: unquote('"\\ead9"');
$icon-texture: unquote('"\\eada"');
$icon-timelapse: unquote('"\\eadb"');
$icon-timer_10: unquote('"\\eadc"');
$icon-timer_3: unquote('"\\eadd"');
$icon-timer: unquote('"\\eade"');
$icon-timer_off: unquote('"\\eadf"');
$icon-tonality: unquote('"\\eae0"');
$icon-transform: unquote('"\\eae1"');
$icon-tune: unquote('"\\eae2"');
$icon-view_compact: unquote('"\\eae3"');
$icon-wb_auto: unquote('"\\eae4"');
$icon-wb_cloudy: unquote('"\\eae5"');
$icon-wb_incandescent: unquote('"\\eae6"');
$icon-wb_sunny: unquote('"\\eae7"');
$icon-collections_bookmark: unquote('"\\eae8"');
$icon-photo_size_select_actual: unquote('"\\eae9"');
$icon-photo_size_select_large: unquote('"\\eaea"');
$icon-photo_size_select_small: unquote('"\\eaeb"');
$icon-vignette: unquote('"\\eaec"');
$icon-wb_iridescent: unquote('"\\eaed"');
$icon-crop_rotate: unquote('"\\eaee"');
$icon-linked_camera: unquote('"\\eaef"');
$icon-add_a_photo: unquote('"\\eaf0"');
$icon-movie_filter: unquote('"\\eaf1"');
$icon-photo_filter: unquote('"\\eaf2"');
$icon-burst_mode: unquote('"\\eaf3"');
$icon-shutter_speed: unquote('"\\eaf4"');
$icon-add_photo_alternate: unquote('"\\eaf5"');
$icon-image_search: unquote('"\\eaf6"');
$icon-music_off: unquote('"\\eaf7"');
$icon-beenhere: unquote('"\\eaf8"');
$icon-directions: unquote('"\\eaf9"');
$icon-directions_bike: unquote('"\\eafa"');
$icon-directions_car: unquote('"\\eafb"');
$icon-directions_ferry: unquote('"\\eafc"');
$icon-directions_subway: unquote('"\\eafd"');
$icon-directions_train: unquote('"\\eafe"');
$icon-directions_walk: unquote('"\\eaff"');
$icon-hotel: unquote('"\\eb00"');
$icon-layers: unquote('"\\eb01"');
$icon-layers_clear: unquote('"\\eb02"');
$icon-local_atm: unquote('"\\eb03"');
$icon-local_attraction: unquote('"\\eb04"');
$icon-local_bar: unquote('"\\eb05"');
$icon-local_cafe: unquote('"\\eb06"');
$icon-local_car_wash: unquote('"\\eb07"');
$icon-local_convenience_store: unquote('"\\eb08"');
$icon-local_drink: unquote('"\\eb09"');
$icon-local_florist: unquote('"\\eb0a"');
$icon-local_gas_station: unquote('"\\eb0b"');
$icon-local_grocery_store: unquote('"\\eb0c"');
$icon-local_hospital: unquote('"\\eb0d"');
$icon-local_laundry_service: unquote('"\\eb0e"');
$icon-local_library: unquote('"\\eb0f"');
$icon-local_mall: unquote('"\\eb10"');
$icon-local_movies: unquote('"\\eb11"');
$icon-local_offer: unquote('"\\eb12"');
$icon-local_pharmacy: unquote('"\\eb13"');
$icon-local_pizza: unquote('"\\eb14"');
$icon-local_printshop: unquote('"\\eb15"');
$icon-local_restaurant: unquote('"\\eb16"');
$icon-local_shipping: unquote('"\\eb17"');
$icon-local_taxi: unquote('"\\eb18"');
$icon-location_history: unquote('"\\eb19"');
$icon-map: unquote('"\\eb1a"');
$icon-navigation: unquote('"\\eb1b"');
$icon-pin_drop: unquote('"\\eb1c"');
$icon-rate_review: unquote('"\\eb1d"');
$icon-satellite: unquote('"\\eb1e"');
$icon-store_mall_directory: unquote('"\\eb1f"');
$icon-traffic: unquote('"\\eb20"');
$icon-directions_run: unquote('"\\eb21"');
$icon-add_location: unquote('"\\eb22"');
$icon-edit_location: unquote('"\\eb23"');
$icon-near_me: unquote('"\\eb24"');
$icon-person_pin_circle: unquote('"\\eb25"');
$icon-zoom_out_map: unquote('"\\eb26"');
$icon-restaurant: unquote('"\\eb27"');
$icon-ev_station: unquote('"\\eb28"');
$icon-streetview: unquote('"\\eb29"');
$icon-subway: unquote('"\\eb2a"');
$icon-tram: unquote('"\\eb2b"');
$icon-transfer_within_a_station: unquote('"\\eb2c"');
$icon-atm: unquote('"\\eb2d"');
$icon-category: unquote('"\\eb2e"');
$icon-not_listed_location: unquote('"\\eb2f"');
$icon-departure_board: unquote('"\\eb30"');
$icon-360: unquote('"\\eb31"');
$icon-edit_attributes: unquote('"\\eb32"');
$icon-transit_enterexit: unquote('"\\eb33"');
$icon-fastfood: unquote('"\\eb34"');
$icon-trip_origin: unquote('"\\eb35"');
$icon-compass_calibration: unquote('"\\eb36"');
$icon-money: unquote('"\\eb37"');
$icon-apps: unquote('"\\eb38"');
$icon-arrow_back: unquote('"\\eb39"');
$icon-arrow_drop_down: unquote('"\\eb3a"');
$icon-arrow_drop_down_circle: unquote('"\\eb3b"');
$icon-arrow_drop_up: unquote('"\\eb3c"');
$icon-arrow_forward: unquote('"\\eb3d"');
$icon-cancel: unquote('"\\eb3e"');
$icon-check: unquote('"\\eb3f"');
$icon-expand_less: unquote('"\\eb40"');
$icon-expand_more: unquote('"\\eb41"');
$icon-fullscreen: unquote('"\\eb42"');
$icon-menu: unquote('"\\eb43"');
$icon-keyboard_control: unquote('"\\eb44"');
$icon-more_vert: unquote('"\\eb45"');
$icon-refresh: unquote('"\\eb46"');
$icon-unfold_less: unquote('"\\eb47"');
$icon-unfold_more: unquote('"\\eb48"');
$icon-arrow_upward: unquote('"\\eb49"');
$icon-subdirectory_arrow_left: unquote('"\\eb4a"');
$icon-subdirectory_arrow_right: unquote('"\\eb4b"');
$icon-arrow_downward: unquote('"\\eb4c"');
$icon-first_page: unquote('"\\eb4d"');
$icon-last_page: unquote('"\\eb4e"');
$icon-arrow_left: unquote('"\\eb4f"');
$icon-arrow_right: unquote('"\\eb50"');
$icon-arrow_back_ios: unquote('"\\eb51"');
$icon-arrow_forward_ios: unquote('"\\eb52"');
$icon-adb: unquote('"\\eb53"');
$icon-disc_full: unquote('"\\eb54"');
$icon-do_not_disturb_alt: unquote('"\\eb55"');
$icon-drive_eta: unquote('"\\eb56"');
$icon-event_available: unquote('"\\eb57"');
$icon-event_busy: unquote('"\\eb58"');
$icon-event_note: unquote('"\\eb59"');
$icon-folder_special: unquote('"\\eb5a"');
$icon-more: unquote('"\\eb5b"');
$icon-network_locked: unquote('"\\eb5c"');
$icon-phone_bluetooth_speaker: unquote('"\\eb5d"');
$icon-phone_forwarded: unquote('"\\eb5e"');
$icon-phone_in_talk: unquote('"\\eb5f"');
$icon-phone_locked: unquote('"\\eb60"');
$icon-phone_missed: unquote('"\\eb61"');
$icon-phone_paused: unquote('"\\eb62"');
$icon-sim_card_alert: unquote('"\\eb63"');
$icon-sms_failed: unquote('"\\eb64"');
$icon-sync_disabled: unquote('"\\eb65"');
$icon-sync_problem: unquote('"\\eb66"');
$icon-system_update: unquote('"\\eb67"');
$icon-tap_and_play: unquote('"\\eb68"');
$icon-vibration: unquote('"\\eb69"');
$icon-voice_chat: unquote('"\\eb6a"');
$icon-vpn_lock: unquote('"\\eb6b"');
$icon-airline_seat_flat: unquote('"\\eb6c"');
$icon-airline_seat_flat_angled: unquote('"\\eb6d"');
$icon-airline_seat_individual_suite: unquote('"\\eb6e"');
$icon-airline_seat_legroom_extra: unquote('"\\eb6f"');
$icon-airline_seat_legroom_normal: unquote('"\\eb70"');
$icon-airline_seat_legroom_reduced: unquote('"\\eb71"');
$icon-airline_seat_recline_extra: unquote('"\\eb72"');
$icon-confirmation_number: unquote('"\\eb73"');
$icon-live_tv: unquote('"\\eb74"');
$icon-ondemand_video: unquote('"\\eb75"');
$icon-personal_video: unquote('"\\eb76"');
$icon-power: unquote('"\\eb77"');
$icon-wc: unquote('"\\eb78"');
$icon-wifi: unquote('"\\eb79"');
$icon-enhanced_encryption: unquote('"\\eb7a"');
$icon-network_check: unquote('"\\eb7b"');
$icon-no_encryption: unquote('"\\eb7c"');
$icon-rv_hookup: unquote('"\\eb7d"');
$icon-do_not_disturb_off: unquote('"\\eb7e"');
$icon-priority_high: unquote('"\\eb7f"');
$icon-power_off: unquote('"\\eb80"');
$icon-tv_off: unquote('"\\eb81"');
$icon-wifi_off: unquote('"\\eb82"');
$icon-phone_callback: unquote('"\\eb83"');
$icon-pie_chart: unquote('"\\eb84"');
$icon-pie_chart_outlined: unquote('"\\eb85"');
$icon-bubble_chart: unquote('"\\eb86"');
$icon-multiline_chart: unquote('"\\eb87"');
$icon-show_chart: unquote('"\\eb88"');
$icon-cake: unquote('"\\eb89"');
$icon-group: unquote('"\\eb8a"');
$icon-location_city: unquote('"\\eb8b"');
$icon-mood_bad: unquote('"\\eb8c"');
$icon-notifications: unquote('"\\eb8d"');
$icon-notifications_none: unquote('"\\eb8e"');
$icon-notifications_off: unquote('"\\eb8f"');
$icon-notifications_on: unquote('"\\eb90"');
$icon-notifications_paused: unquote('"\\eb91"');
$icon-pages: unquote('"\\eb92"');
$icon-party_mode: unquote('"\\eb93"');
$icon-people_outline: unquote('"\\eb94"');
$icon-person: unquote('"\\eb95"');
$icon-person_add: unquote('"\\eb96"');
$icon-person_outline: unquote('"\\eb97"');
$icon-plus_one: unquote('"\\eb98"');
$icon-public: unquote('"\\eb99"');
$icon-school: unquote('"\\eb9a"');
$icon-share: unquote('"\\eb9b"');
$icon-whatshot: unquote('"\\eb9c"');
$icon-sentiment_dissatisfied: unquote('"\\eb9d"');
$icon-sentiment_neutral: unquote('"\\eb9e"');
$icon-sentiment_satisfied: unquote('"\\eb9f"');
$icon-sentiment_very_dissatisfied: unquote('"\\eba0"');
$icon-sentiment_very_satisfied: unquote('"\\eba1"');
$icon-thumb_down_alt: unquote('"\\eba2"');
$icon-check_box: unquote('"\\eba3"');
$icon-check_box_outline_blank: unquote('"\\eba4"');
$icon-radio_button_on: unquote('"\\eba5"');
$icon-star: unquote('"\\eba6"');
$icon-star_half: unquote('"\\eba7"');
$icon-star_outline: unquote('"\\eba8"');
$icon-3d_rotation: unquote('"\\eba9"');
$icon-accessibility: unquote('"\\ebaa"');
$icon-account_balance: unquote('"\\ebab"');
$icon-account_balance_wallet: unquote('"\\ebac"');
$icon-account_box: unquote('"\\ebad"');
$icon-account_circle: unquote('"\\ebae"');
$icon-add_shopping_cart: unquote('"\\ebaf"');
$icon-alarm_off: unquote('"\\ebb0"');
$icon-alarm_on: unquote('"\\ebb1"');
$icon-android: unquote('"\\ebb2"');
$icon-announcement: unquote('"\\ebb3"');
$icon-aspect_ratio: unquote('"\\ebb4"');
$icon-assignment: unquote('"\\ebb5"');
$icon-assignment_ind: unquote('"\\ebb6"');
$icon-assignment_late: unquote('"\\ebb7"');
$icon-assignment_return: unquote('"\\ebb8"');
$icon-assignment_returned: unquote('"\\ebb9"');
$icon-assignment_turned_in: unquote('"\\ebba"');
$icon-book: unquote('"\\ebbb"');
$icon-bookmark: unquote('"\\ebbc"');
$icon-bookmark_outline: unquote('"\\ebbd"');
$icon-bug_report: unquote('"\\ebbe"');
$icon-build: unquote('"\\ebbf"');
$icon-cached: unquote('"\\ebc0"');
$icon-change_history: unquote('"\\ebc1"');
$icon-check_circle: unquote('"\\ebc2"');
$icon-chrome_reader_mode: unquote('"\\ebc3"');
$icon-code: unquote('"\\ebc4"');
$icon-credit_card: unquote('"\\ebc5"');
$icon-dashboard: unquote('"\\ebc6"');
$icon-delete: unquote('"\\ebc7"');
$icon-description: unquote('"\\ebc8"');
$icon-dns: unquote('"\\ebc9"');
$icon-done: unquote('"\\ebca"');
$icon-done_all: unquote('"\\ebcb"');
$icon-exit_to_app: unquote('"\\ebcc"');
$icon-explore: unquote('"\\ebcd"');
$icon-extension: unquote('"\\ebce"');
$icon-face: unquote('"\\ebcf"');
$icon-favorite: unquote('"\\ebd0"');
$icon-favorite_outline: unquote('"\\ebd1"');
$icon-find_in_page: unquote('"\\ebd2"');
$icon-flip_to_back: unquote('"\\ebd3"');
$icon-flip_to_front: unquote('"\\ebd4"');
$icon-group_work: unquote('"\\ebd5"');
$icon-help: unquote('"\\ebd6"');
$icon-highlight_remove: unquote('"\\ebd7"');
$icon-history: unquote('"\\ebd8"');
$icon-home: unquote('"\\ebd9"');
$icon-hourglass_empty: unquote('"\\ebda"');
$icon-hourglass_full: unquote('"\\ebdb"');
$icon-https: unquote('"\\ebdc"');
$icon-info: unquote('"\\ebdd"');
$icon-info_outline: unquote('"\\ebde"');
$icon-input: unquote('"\\ebdf"');
$icon-invert_colors_on: unquote('"\\ebe0"');
$icon-label: unquote('"\\ebe1"');
$icon-label_outline: unquote('"\\ebe2"');
$icon-language: unquote('"\\ebe3"');
$icon-launch: unquote('"\\ebe4"');
$icon-list: unquote('"\\ebe5"');
$icon-lock_open: unquote('"\\ebe6"');
$icon-lock_outline: unquote('"\\ebe7"');
$icon-loyalty: unquote('"\\ebe8"');
$icon-markunread_mailbox: unquote('"\\ebe9"');
$icon-note_add: unquote('"\\ebea"');
$icon-open_with: unquote('"\\ebeb"');
$icon-pageview: unquote('"\\ebec"');
$icon-perm_camera_mic: unquote('"\\ebed"');
$icon-perm_contact_calendar: unquote('"\\ebee"');
$icon-perm_data_setting: unquote('"\\ebef"');
$icon-perm_device_information: unquote('"\\ebf0"');
$icon-perm_media: unquote('"\\ebf1"');
$icon-perm_phone_msg: unquote('"\\ebf2"');
$icon-perm_scan_wifi: unquote('"\\ebf3"');
$icon-picture_in_picture: unquote('"\\ebf4"');
$icon-polymer: unquote('"\\ebf5"');
$icon-power_settings_new: unquote('"\\ebf6"');
$icon-receipt: unquote('"\\ebf7"');
$icon-redeem: unquote('"\\ebf8"');
$icon-search: unquote('"\\ebf9"');
$icon-settings: unquote('"\\ebfa"');
$icon-settings_applications: unquote('"\\ebfb"');
$icon-settings_backup_restore: unquote('"\\ebfc"');
$icon-settings_bluetooth: unquote('"\\ebfd"');
$icon-settings_cell: unquote('"\\ebfe"');
$icon-settings_display: unquote('"\\ebff"');
$icon-settings_ethernet: unquote('"\\ec00"');
$icon-settings_input_antenna: unquote('"\\ec01"');
$icon-settings_input_component: unquote('"\\ec02"');
$icon-settings_input_svideo: unquote('"\\ec03"');
$icon-settings_overscan: unquote('"\\ec04"');
$icon-settings_phone: unquote('"\\ec05"');
$icon-settings_power: unquote('"\\ec06"');
$icon-settings_remote: unquote('"\\ec07"');
$icon-settings_voice: unquote('"\\ec08"');
$icon-shop: unquote('"\\ec09"');
$icon-shop_two: unquote('"\\ec0a"');
$icon-shopping_basket: unquote('"\\ec0b"');
$icon-speaker_notes: unquote('"\\ec0c"');
$icon-spellcheck: unquote('"\\ec0d"');
$icon-stars: unquote('"\\ec0e"');
$icon-subject: unquote('"\\ec0f"');
$icon-supervisor_account: unquote('"\\ec10"');
$icon-swap_horiz: unquote('"\\ec11"');
$icon-swap_vert: unquote('"\\ec12"');
$icon-swap_vertical_circle: unquote('"\\ec13"');
$icon-system_update_tv: unquote('"\\ec14"');
$icon-tab: unquote('"\\ec15"');
$icon-tab_unselected: unquote('"\\ec16"');
$icon-thumb_down: unquote('"\\ec17"');
$icon-thumb_up: unquote('"\\ec18"');
$icon-thumbs_up_down: unquote('"\\ec19"');
$icon-toc: unquote('"\\ec1a"');
$icon-toll: unquote('"\\ec1b"');
$icon-track_changes: unquote('"\\ec1c"');
$icon-translate: unquote('"\\ec1d"');
$icon-trending_down: unquote('"\\ec1e"');
$icon-trending_neutral: unquote('"\\ec1f"');
$icon-trending_up: unquote('"\\ec20"');
$icon-verified_user: unquote('"\\ec21"');
$icon-view_agenda: unquote('"\\ec22"');
$icon-view_array: unquote('"\\ec23"');
$icon-view_carousel: unquote('"\\ec24"');
$icon-view_column: unquote('"\\ec25"');
$icon-view_day: unquote('"\\ec26"');
$icon-view_headline: unquote('"\\ec27"');
$icon-view_list: unquote('"\\ec28"');
$icon-view_module: unquote('"\\ec29"');
$icon-view_quilt: unquote('"\\ec2a"');
$icon-view_stream: unquote('"\\ec2b"');
$icon-view_week: unquote('"\\ec2c"');
$icon-visibility_off: unquote('"\\ec2d"');
$icon-card_membership: unquote('"\\ec2e"');
$icon-card_travel: unquote('"\\ec2f"');
$icon-work: unquote('"\\ec30"');
$icon-youtube_searched_for: unquote('"\\ec31"');
$icon-eject: unquote('"\\ec32"');
$icon-help_outline: unquote('"\\ec33"');
$icon-reorder: unquote('"\\ec34"');
$icon-zoom_in: unquote('"\\ec35"');
$icon-zoom_out: unquote('"\\ec36"');
$icon-http: unquote('"\\ec37"');
$icon-event_seat: unquote('"\\ec38"');
$icon-flight_land: unquote('"\\ec39"');
$icon-flight_takeoff: unquote('"\\ec3a"');
$icon-play_for_work: unquote('"\\ec3b"');
$icon-gif: unquote('"\\ec3c"');
$icon-indeterminate_check_box: unquote('"\\ec3d"');
$icon-offline_pin: unquote('"\\ec3e"');
$icon-all_out: unquote('"\\ec3f"');
$icon-copyright: unquote('"\\ec40"');
$icon-fingerprint: unquote('"\\ec41"');
$icon-gavel: unquote('"\\ec42"');
$icon-lightbulb_outline: unquote('"\\ec43"');
$icon-picture_in_picture_alt: unquote('"\\ec44"');
$icon-important_devices: unquote('"\\ec45"');
$icon-touch_app: unquote('"\\ec46"');
$icon-accessible: unquote('"\\ec47"');
$icon-compare_arrows: unquote('"\\ec48"');
$icon-date_range: unquote('"\\ec49"');
$icon-donut_large: unquote('"\\ec4a"');
$icon-line_style: unquote('"\\ec4b"');
$icon-line_weight: unquote('"\\ec4c"');
$icon-motorcycle: unquote('"\\ec4d"');
$icon-opacity: unquote('"\\ec4e"');
$icon-pets: unquote('"\\ec4f"');
$icon-pregnant_woman: unquote('"\\ec50"');
$icon-record_voice_over: unquote('"\\ec51"');
$icon-rounded_corner: unquote('"\\ec52"');
$icon-rowing: unquote('"\\ec53"');
$icon-timeline: unquote('"\\ec54"');
$icon-update: unquote('"\\ec55"');
$icon-watch_later: unquote('"\\ec56"');
$icon-pan_tool: unquote('"\\ec57"');
$icon-euro_symbol: unquote('"\\ec58"');
$icon-g_translate: unquote('"\\ec59"');
$icon-remove_shopping_cart: unquote('"\\ec5a"');
$icon-restore_page: unquote('"\\ec5b"');
$icon-speaker_notes_off: unquote('"\\ec5c"');
$icon-delete_forever: unquote('"\\ec5d"');
$icon-accessibility_new: unquote('"\\ec5e"');
$icon-check_circle_outline: unquote('"\\ec5f"');
$icon-delete_outline: unquote('"\\ec60"');
$icon-done_outline: unquote('"\\ec61"');
$icon-maximize: unquote('"\\ec62"');
$icon-offline_bolt: unquote('"\\ec63"');
$icon-swap_horizontal_circle: unquote('"\\ec64"');
$icon-accessible_forward: unquote('"\\ec65"');
$icon-calendar_today: unquote('"\\ec66"');
$icon-calendar_view_day: unquote('"\\ec67"');
$icon-label_important: unquote('"\\ec68"');
$icon-restore_from_trash: unquote('"\\ec69"');
$icon-supervised_user_circle: unquote('"\\ec6a"');
$icon-text_rotate_up: unquote('"\\ec6b"');
$icon-text_rotate_vertical: unquote('"\\ec6c"');
$icon-text_rotation_angledown: unquote('"\\ec6d"');
$icon-text_rotation_angleup: unquote('"\\ec6e"');
$icon-text_rotation_down: unquote('"\\ec6f"');
$icon-text_rotation_none: unquote('"\\ec70"');
$icon-commute: unquote('"\\ec71"');
$icon-arrow_right_alt: unquote('"\\ec72"');
$icon-work_off: unquote('"\\ec73"');
$icon-work_outline: unquote('"\\ec74"');
$icon-drag_indicator: unquote('"\\ec75"');
$icon-horizontal_split: unquote('"\\ec76"');
$icon-label_important_outline: unquote('"\\ec77"');
$icon-vertical_split: unquote('"\\ec78"');
$icon-voice_over_off: unquote('"\\ec79"');
$icon-segment: unquote('"\\ec7a"');
$icon-compress: unquote('"\\ec7b"');
$icon-filter_list_alt: unquote('"\\ec7c"');
$icon-expand: unquote('"\\ec7d"');
$icon-edit_off: unquote('"\\ec7e"');
$icon-10k: unquote('"\\ec7f"');
$icon-10mp: unquote('"\\ec80"');
$icon-11mp: unquote('"\\ec81"');
$icon-12mp: unquote('"\\ec82"');
$icon-13mp: unquote('"\\ec83"');
$icon-14mp: unquote('"\\ec84"');
$icon-15mp: unquote('"\\ec85"');
$icon-16mp: unquote('"\\ec86"');
$icon-17mp: unquote('"\\ec87"');
$icon-18mp: unquote('"\\ec88"');
$icon-19mp: unquote('"\\ec89"');
$icon-1k: unquote('"\\ec8a"');
$icon-1k_plus: unquote('"\\ec8b"');
$icon-20mp: unquote('"\\ec8c"');
$icon-21mp: unquote('"\\ec8d"');
$icon-22mp: unquote('"\\ec8e"');
$icon-23mp: unquote('"\\ec8f"');
$icon-24mp: unquote('"\\ec90"');
$icon-2k: unquote('"\\ec91"');
$icon-2k_plus: unquote('"\\ec92"');
$icon-3k: unquote('"\\ec93"');
$icon-3k_plus: unquote('"\\ec94"');
$icon-3mp: unquote('"\\ec95"');
$icon-4k_plus: unquote('"\\ec96"');
$icon-4mp: unquote('"\\ec97"');
$icon-5k: unquote('"\\ec98"');
$icon-5k_plus: unquote('"\\ec99"');
$icon-5mp: unquote('"\\ec9a"');
$icon-6k: unquote('"\\ec9b"');
$icon-6k_plus: unquote('"\\ec9c"');
$icon-6mp: unquote('"\\ec9d"');
$icon-7k: unquote('"\\ec9e"');
$icon-7k_plus: unquote('"\\ec9f"');
$icon-7mp: unquote('"\\eca0"');
$icon-8k: unquote('"\\eca1"');
$icon-8k_plus: unquote('"\\eca2"');
$icon-8mp: unquote('"\\eca3"');
$icon-9k: unquote('"\\eca4"');
$icon-9k_plus: unquote('"\\eca5"');
$icon-9mp: unquote('"\\eca6"');
$icon-account_tree: unquote('"\\eca7"');
$icon-add_chart: unquote('"\\eca8"');
$icon-add_ic_call: unquote('"\\eca9"');
$icon-add_moderator: unquote('"\\ecaa"');
$icon-approval: unquote('"\\ecab"');
$icon-assistant_direction: unquote('"\\ecac"');
$icon-assistant_navigation: unquote('"\\ecad"');
$icon-bookmarks: unquote('"\\ecae"');
$icon-bus_alert: unquote('"\\ecaf"');
$icon-cases: unquote('"\\ecb0"');
$icon-circle_notifications: unquote('"\\ecb1"');
$icon-closed_caption_off: unquote('"\\ecb2"');
$icon-connected_tv: unquote('"\\ecb3"');
$icon-dangerous: unquote('"\\ecb4"');
$icon-dashboard_customize: unquote('"\\ecb5"');
$icon-desktop_access_disabled: unquote('"\\ecb6"');
$icon-drive_file_move_outline: unquote('"\\ecb7"');
$icon-drive_file_rename_outline: unquote('"\\ecb8"');
$icon-drive_folder_upload: unquote('"\\ecb9"');
$icon-duo: unquote('"\\ecba"');
$icon-explore_off: unquote('"\\ecbb"');
$icon-file_download_done: unquote('"\\ecbc"');
$icon-rtt: unquote('"\\ecbd"');
$icon-grid_view: unquote('"\\ecbe"');
$icon-hail: unquote('"\\ecbf"');
$icon-home_filled: unquote('"\\ecc0"');
$icon-imagesearch_roller: unquote('"\\ecc1"');
$icon-label_off: unquote('"\\ecc2"');
$icon-logout: unquote('"\\ecc3"');
$icon-margin: unquote('"\\ecc4"');
$icon-mark_as_unread: unquote('"\\ecc5"');
$icon-menu_open: unquote('"\\ecc6"');
$icon-mp: unquote('"\\ecc7"');
$icon-offline_share: unquote('"\\ecc8"');
$icon-padding: unquote('"\\ecc9"');
$icon-panorama_photosphere: unquote('"\\ecca"');
$icon-panorama_photosphere_select: unquote('"\\eccb"');
$icon-person_add_disabled: unquote('"\\eccc"');
$icon-phone_disabled: unquote('"\\eccd"');
$icon-phone_enabled: unquote('"\\ecce"');
$icon-pivot_table_chart: unquote('"\\eccf"');
$icon-print_disabled: unquote('"\\ecd0"');
$icon-railway_alert: unquote('"\\ecd1"');
$icon-recommend: unquote('"\\ecd2"');
$icon-remove_done: unquote('"\\ecd3"');
$icon-remove_moderator: unquote('"\\ecd4"');
$icon-repeat_on: unquote('"\\ecd5"');
$icon-repeat_one_on: unquote('"\\ecd6"');
$icon-replay_circle_filled: unquote('"\\ecd7"');
$icon-reset_tv: unquote('"\\ecd8"');
$icon-sd: unquote('"\\ecd9"');
$icon-shield: unquote('"\\ecda"');
$icon-speed: unquote('"\\ecdb"');
$icon-stacked_bar_chart: unquote('"\\ecdc"');
$icon-stream: unquote('"\\ecdd"');
$icon-swipe: unquote('"\\ecde"');
$icon-switch_account: unquote('"\\ecdf"');
$icon-tag: unquote('"\\ece0"');
$icon-thumb_down_off_alt: unquote('"\\ece1"');
$icon-thumb_up_off_alt: unquote('"\\ece2"');
$icon-toggle_off: unquote('"\\ece3"');
$icon-toggle_on: unquote('"\\ece4"');
$icon-two_wheeler: unquote('"\\ece5"');
$icon-upload_file: unquote('"\\ece6"');
$icon-view_in_ar: unquote('"\\ece7"');
$icon-waterfall_chart: unquote('"\\ece8"');
$icon-wb_shade: unquote('"\\ece9"');
$icon-wb_twighlight: unquote('"\\ecea"');
$icon-home_work: unquote('"\\eceb"');
$icon-schedule_send: unquote('"\\ecec"');
$icon-bolt: unquote('"\\eced"');
$icon-send_and_archive: unquote('"\\ecee"');
$icon-workspaces_filled: unquote('"\\ecef"');
$icon-file_present: unquote('"\\ecf0"');
$icon-workspaces_outline: unquote('"\\ecf1"');
$icon-fit_screen: unquote('"\\ecf2"');
$icon-storefront: unquote('"\\ecf3"');
$icon-amp_stories: unquote('"\\ecf4"');
$icon-dynamic_feed: unquote('"\\ecf5"');
$icon-euro: unquote('"\\ecf6"');
$icon-height: unquote('"\\ecf7"');
$icon-policy: unquote('"\\ecf8"');
$icon-sync_alt: unquote('"\\ecf9"');
$icon-menu_book: unquote('"\\ecfa"');
$icon-emoji_flags: unquote('"\\ecfb"');
$icon-emoji_food_beverage: unquote('"\\ecfc"');
$icon-emoji_nature: unquote('"\\ecfd"');
$icon-emoji_people: unquote('"\\ecfe"');
$icon-emoji_symbols: unquote('"\\ecff"');
$icon-emoji_transportation: unquote('"\\ed00"');
$icon-post_add: unquote('"\\ed01"');
$icon-people_alt: unquote('"\\ed02"');
$icon-emoji_emotions: unquote('"\\ed03"');
$icon-emoji_events: unquote('"\\ed04"');
$icon-emoji_objects: unquote('"\\ed05"');
$icon-sports_basketball: unquote('"\\ed06"');
$icon-sports_cricket: unquote('"\\ed07"');
$icon-sports_esports: unquote('"\\ed08"');
$icon-sports_football: unquote('"\\ed09"');
$icon-sports_golf: unquote('"\\ed0a"');
$icon-sports_mma: unquote('"\\ed0b"');
$icon-sports_motorsports: unquote('"\\ed0c"');
$icon-sports_rugby: unquote('"\\ed0d"');
$icon-sports_soccer: unquote('"\\ed0e"');
$icon-sports: unquote('"\\ed0f"');
$icon-sports_volleyball: unquote('"\\ed10"');
$icon-sports_tennis: unquote('"\\ed11"');
$icon-sports_handball: unquote('"\\ed12"');
$icon-sports_kabaddi: unquote('"\\ed13"');
$icon-eco: unquote('"\\ed14"');
$icon-museum: unquote('"\\ed15"');
$icon-flip_camera_android: unquote('"\\ed16"');
$icon-flip_camera_ios: unquote('"\\ed17"');
$icon-cancel_schedule_send: unquote('"\\ed18"');
$icon-apartment: unquote('"\\ed19"');
$icon-bathtub: unquote('"\\ed1a"');
$icon-deck: unquote('"\\ed1b"');
$icon-fireplace: unquote('"\\ed1c"');
$icon-house: unquote('"\\ed1d"');
$icon-king_bed: unquote('"\\ed1e"');
$icon-nights_stay: unquote('"\\ed1f"');
$icon-outdoor_grill: unquote('"\\ed20"');
$icon-single_bed: unquote('"\\ed21"');
$icon-square_foot: unquote('"\\ed22"');
$icon-sports_baseball: unquote('"\\ed23"');
$icon-attractions: unquote('"\\ed24"');
$icon-bakery_dining: unquote('"\\ed25"');
$icon-breakfast_dining: unquote('"\\ed26"');
$icon-car_rental: unquote('"\\ed27"');
$icon-car_repair: unquote('"\\ed28"');
$icon-dinner_dining: unquote('"\\ed29"');
$icon-dry_cleaning: unquote('"\\ed2a"');
$icon-hardware: unquote('"\\ed2b"');
$icon-liquor: unquote('"\\ed2c"');
$icon-lunch_dining: unquote('"\\ed2d"');
$icon-nightlife: unquote('"\\ed2e"');
$icon-park: unquote('"\\ed2f"');
$icon-ramen_dining: unquote('"\\ed30"');
$icon-celebration: unquote('"\\ed31"');
$icon-theater_comedy: unquote('"\\ed32"');
$icon-badge: unquote('"\\ed33"');
$icon-festival: unquote('"\\ed34"');
$icon-icecream: unquote('"\\ed35"');
$icon-volunteer_activism: unquote('"\\ed36"');
$icon-contactless: unquote('"\\ed37"');
$icon-delivery_dining: unquote('"\\ed38"');
$icon-brunch_dining: unquote('"\\ed39"');
$icon-takeout_dining: unquote('"\\ed3a"');
$icon-airport_shuttle: unquote('"\\ed3b"');
$icon-all_inclusive: unquote('"\\ed3c"');
$icon-beach_access: unquote('"\\ed3d"');
$icon-business_center: unquote('"\\ed3e"');
$icon-casino: unquote('"\\ed3f"');
$icon-child_care: unquote('"\\ed40"');
$icon-child_friendly: unquote('"\\ed41"');
$icon-fitness_center: unquote('"\\ed42"');
$icon-golf_course: unquote('"\\ed43"');
$icon-hot_tub: unquote('"\\ed44"');
$icon-kitchen: unquote('"\\ed45"');
$icon-pool: unquote('"\\ed46"');
$icon-room_service: unquote('"\\ed47"');
$icon-smoke_free: unquote('"\\ed48"');
$icon-smoking_rooms: unquote('"\\ed49"');
$icon-spa: unquote('"\\ed4a"');
$icon-no_meeting_room: unquote('"\\ed4b"');
$icon-meeting_room: unquote('"\\ed4c"');
$icon-goat: unquote('"\\ed4d"');
$icon-5g: unquote('"\\ed4e"');
$icon-ad_units: unquote('"\\ed4f"');
$icon-add_business: unquote('"\\ed50"');
$icon-add_location_alt: unquote('"\\ed51"');
$icon-add_road: unquote('"\\ed52"');
$icon-addchart: unquote('"\\ed53"');
$icon-admin_panel_settings: unquote('"\\ed54"');
$icon-agriculture: unquote('"\\ed55"');
$icon-alt_route: unquote('"\\ed56"');
$icon-analytics: unquote('"\\ed57"');
$icon-anchor: unquote('"\\ed58"');
$icon-animation: unquote('"\\ed59"');
$icon-api: unquote('"\\ed5a"');
$icon-app_blocking: unquote('"\\ed5b"');
$icon-app_registration: unquote('"\\ed5c"');
$icon-app_settings_alt: unquote('"\\ed5d"');
$icon-architecture: unquote('"\\ed5e"');
$icon-arrow_circle_down: unquote('"\\ed5f"');
$icon-arrow_circle_up: unquote('"\\ed60"');
$icon-article: unquote('"\\ed61"');
$icon-attach_email: unquote('"\\ed62"');
$icon-auto_awesome: unquote('"\\ed63"');
$icon-auto_awesome_mosaic: unquote('"\\ed64"');
$icon-auto_awesome_motion: unquote('"\\ed65"');
$icon-auto_delete: unquote('"\\ed66"');
$icon-auto_fix_high: unquote('"\\ed67"');
$icon-auto_fix_normal: unquote('"\\ed68"');
$icon-auto_fix_off: unquote('"\\ed69"');
$icon-auto_stories: unquote('"\\ed6a"');
$icon-backpack: unquote('"\\ed6b"');
$icon-backup_table: unquote('"\\ed6c"');
$icon-batch_prediction: unquote('"\\ed6d"');
$icon-bedtime: unquote('"\\ed6e"');
$icon-bento: unquote('"\\ed6f"');
$icon-bike_scooter: unquote('"\\ed70"');
$icon-biotech: unquote('"\\ed71"');
$icon-block_flipped: unquote('"\\ed72"');
$icon-browser_not_supported: unquote('"\\ed73"');
$icon-build_circle: unquote('"\\ed74"');
$icon-calculate: unquote('"\\ed75"');
$icon-campaign: unquote('"\\ed76"');
$icon-carpenter: unquote('"\\ed77"');
$icon-cast_for_education: unquote('"\\ed78"');
$icon-charging_station: unquote('"\\ed79"');
$icon-checkroom: unquote('"\\ed7a"');
$icon-circle: unquote('"\\ed7b"');
$icon-cleaning_services: unquote('"\\ed7c"');
$icon-close_fullscreen: unquote('"\\ed7d"');
$icon-closed_caption_disabled: unquote('"\\ed7e"');
$icon-comment_bank: unquote('"\\ed7f"');
$icon-construction: unquote('"\\ed80"');
$icon-corporate_fare: unquote('"\\ed81"');
$icon-countertops: unquote('"\\ed82"');
$icon-directions_off: unquote('"\\ed83"');
$icon-dirty_lens: unquote('"\\ed84"');
$icon-do_not_step: unquote('"\\ed85"');
$icon-do_not_touch: unquote('"\\ed86"');
$icon-domain_verification: unquote('"\\ed87"');
$icon-drive_file_move: unquote('"\\ed88"');
$icon-dry: unquote('"\\ed89"');
$icon-dynamic_form: unquote('"\\ed8a"');
$icon-east: unquote('"\\ed8b"');
$icon-edit_road: unquote('"\\ed8c"');
$icon-electric_bike: unquote('"\\ed8d"');
$icon-electric_car: unquote('"\\ed8e"');
$icon-electric_moped: unquote('"\\ed8f"');
$icon-electric_rickshaw: unquote('"\\ed90"');
$icon-electric_scooter: unquote('"\\ed91"');
$icon-electrical_services: unquote('"\\ed92"');
$icon-elevator: unquote('"\\ed93"');
$icon-engineering: unquote('"\\ed94"');
$icon-escalator: unquote('"\\ed95"');
$icon-escalator_warning: unquote('"\\ed96"');
$icon-face_retouching_natural: unquote('"\\ed97"');
$icon-fact_check: unquote('"\\ed98"');
$icon-family_restroom: unquote('"\\ed99"');
$icon-fence: unquote('"\\ed9a"');
$icon-fire_extinguisher: unquote('"\\ed9b"');
$icon-flaky: unquote('"\\ed9c"');
$icon-food_bank: unquote('"\\ed9d"');
$icon-forward_to_inbox: unquote('"\\ed9e"');
$icon-foundation: unquote('"\\ed9f"');
$icon-grading: unquote('"\\eda0"');
$icon-grass: unquote('"\\eda1"');
$icon-handyman: unquote('"\\eda2"');
$icon-hdr_enhanced_select: unquote('"\\eda3"');
$icon-hearing_disabled: unquote('"\\eda4"');
$icon-help_center: unquote('"\\eda5"');
$icon-highlight_alt: unquote('"\\eda6"');
$icon-history_edu: unquote('"\\eda7"');
$icon-history_toggle_off: unquote('"\\eda8"');
$icon-home_repair_service: unquote('"\\eda9"');
$icon-horizontal_rule: unquote('"\\edaa"');
$icon-hourglass_bottom: unquote('"\\edab"');
$icon-hourglass_disabled: unquote('"\\edac"');
$icon-hourglass_top: unquote('"\\edad"');
$icon-house_siding: unquote('"\\edae"');
$icon-hvac: unquote('"\\edaf"');
$icon-image_not_supported: unquote('"\\edb0"');
$icon-insights: unquote('"\\edb1"');
$icon-integration_instructions: unquote('"\\edb2"');
$icon-legend_toggle: unquote('"\\edb3"');
$icon-local_fire_department: unquote('"\\edb4"');
$icon-local_police: unquote('"\\edb5"');
$icon-location_pin: unquote('"\\edb6"');
$icon-lock_clock: unquote('"\\edb7"');
$icon-login: unquote('"\\edb8"');
$icon-maps_ugc: unquote('"\\edb9"');
$icon-mark_chat_read: unquote('"\\edba"');
$icon-mark_chat_unread: unquote('"\\edbb"');
$icon-mark_email_read: unquote('"\\edbc"');
$icon-mark_email_unread: unquote('"\\edbd"');
$icon-mediation: unquote('"\\edbe"');
$icon-medical_services: unquote('"\\edbf"');
$icon-mic_external_off: unquote('"\\edc0"');
$icon-mic_external_on: unquote('"\\edc1"');
$icon-microwave: unquote('"\\edc2"');
$icon-military_tech: unquote('"\\edc3"');
$icon-miscellaneous_services: unquote('"\\edc4"');
$icon-model_training: unquote('"\\edc5"');
$icon-monitor: unquote('"\\edc6"');
$icon-moped: unquote('"\\edc7"');
$icon-more_time: unquote('"\\edc8"');
$icon-motion_photos_off: unquote('"\\edc9"');
$icon-motion_photos_on: unquote('"\\edca"');
$icon-multiple_stop: unquote('"\\edcb"');
$icon-nat: unquote('"\\edcc"');
$icon-near_me_disabled: unquote('"\\edcd"');
$icon-next_plan: unquote('"\\edce"');
$icon-night_shelter: unquote('"\\edcf"');
$icon-nightlight_round: unquote('"\\edd0"');
$icon-no_cell: unquote('"\\edd1"');
$icon-no_drinks: unquote('"\\edd2"');
$icon-no_flash: unquote('"\\edd3"');
$icon-no_food: unquote('"\\edd4"');
$icon-no_meals: unquote('"\\edd5"');
$icon-no_photography: unquote('"\\edd6"');
$icon-no_stroller: unquote('"\\edd7"');
$icon-no_transfer: unquote('"\\edd8"');
$icon-north: unquote('"\\edd9"');
$icon-north_east: unquote('"\\edda"');
$icon-north_west: unquote('"\\eddb"');
$icon-not_accessible: unquote('"\\eddc"');
$icon-not_started: unquote('"\\eddd"');
$icon-online_prediction: unquote('"\\edde"');
$icon-open_in_full: unquote('"\\eddf"');
$icon-outbox: unquote('"\\ede0"');
$icon-outgoing_mail: unquote('"\\ede1"');
$icon-outlet: unquote('"\\ede2"');
$icon-panorama_vertical_select: unquote('"\\ede3"');
$icon-panorama_wide_angle_select: unquote('"\\ede4"');
$icon-payments: unquote('"\\ede5"');
$icon-pedal_bike: unquote('"\\ede6"');
$icon-pending: unquote('"\\ede7"');
$icon-pending_actions: unquote('"\\ede8"');
$icon-person_add_alt: unquote('"\\ede9"');
$icon-person_add_alt_1: unquote('"\\edea"');
$icon-person_remove: unquote('"\\edeb"');
$icon-person_search: unquote('"\\edec"');
$icon-pest_control: unquote('"\\eded"');
$icon-pest_control_rodent: unquote('"\\edee"');
$icon-photo_camera_back: unquote('"\\edef"');
$icon-photo_camera_front: unquote('"\\edf0"');
$icon-plagiarism: unquote('"\\edf1"');
$icon-play_disabled: unquote('"\\edf2"');
$icon-plumbing: unquote('"\\edf3"');
$icon-point_of_sale: unquote('"\\edf4"');
$icon-preview: unquote('"\\edf5"');
$icon-privacy_tip: unquote('"\\edf6"');
$icon-psychology: unquote('"\\edf7"');
$icon-public_off: unquote('"\\edf8"');
$icon-push_pin: unquote('"\\edf9"');
$icon-qr_code: unquote('"\\edfa"');
$icon-quickreply: unquote('"\\edfb"');
$icon-read_more: unquote('"\\edfc"');
$icon-receipt_long: unquote('"\\edfd"');
$icon-request_quote: unquote('"\\edfe"');
$icon-rice_bowl: unquote('"\\edff"');
$icon-roofing: unquote('"\\ee00"');
$icon-room_preferences: unquote('"\\ee01"');
$icon-rule: unquote('"\\ee02"');
$icon-rule_folder: unquote('"\\ee03"');
$icon-run_circle: unquote('"\\ee04"');
$icon-science: unquote('"\\ee05"');
$icon-screen_search_desktop: unquote('"\\ee06"');
$icon-search_off: unquote('"\\ee07"');
$icon-self_improvement: unquote('"\\ee08"');
$icon-sensor_door: unquote('"\\ee09"');
$icon-sensor_window: unquote('"\\ee0a"');
$icon-set_meal: unquote('"\\ee0b"');
$icon-shopping_bag: unquote('"\\ee0c"');
$icon-signal_cellular_0_bar: unquote('"\\ee0d"');
$icon-signal_wifi_0_bar: unquote('"\\ee0e"');
$icon-smart_button: unquote('"\\ee0f"');
$icon-snippet_folder: unquote('"\\ee10"');
$icon-soap: unquote('"\\ee11"');
$icon-source: unquote('"\\ee12"');
$icon-south_east: unquote('"\\ee13"');
$icon-south_west: unquote('"\\ee14"');
$icon-sports_bar: unquote('"\\ee15"');
$icon-stairs: unquote('"\\ee16"');
$icon-star_outline1: unquote('"\\ee17"');
$icon-star_rate: unquote('"\\ee18"');
$icon-sticky_note_2: unquote('"\\ee19"');
$icon-stop_circle: unquote('"\\ee1a"');
$icon-stroller: unquote('"\\ee1b"');
$icon-subscript: unquote('"\\ee1c"');
$icon-subtitles_off: unquote('"\\ee1d"');
$icon-superscript: unquote('"\\ee1e"');
$icon-support: unquote('"\\ee1f"');
$icon-support_agent: unquote('"\\ee20"');
$icon-switch_left: unquote('"\\ee21"');
$icon-switch_right: unquote('"\\ee22"');
$icon-table_rows: unquote('"\\ee23"');
$icon-table_view: unquote('"\\ee24"');
$icon-tapas: unquote('"\\ee25"');
$icon-taxi_alert: unquote('"\\ee26"');
$icon-text_snippet: unquote('"\\ee27"');
$icon-tour: unquote('"\\ee28"');
$icon-tty: unquote('"\\ee29"');
$icon-umbrella: unquote('"\\ee2a"');
$icon-verified: unquote('"\\ee2b"');
$icon-video_settings: unquote('"\\ee2c"');
$icon-view_sidebar: unquote('"\\ee2d"');
$icon-wash: unquote('"\\ee2e"');
$icon-water_damage: unquote('"\\ee2f"');
$icon-west: unquote('"\\ee30"');
$icon-wheelchair_pickup: unquote('"\\ee31"');
$icon-wifi_calling: unquote('"\\ee32"');
$icon-wifi_protected_setup: unquote('"\\ee33"');
$icon-wine_bar: unquote('"\\ee34"');
$icon-wrong_location: unquote('"\\ee35"');
$icon-wysiwyg: unquote('"\\ee36"');
$icon-leaderboard: unquote('"\\ee37"');
$icon-6_ft_apart: unquote('"\\ee38"');
$icon-book_online: unquote('"\\ee39"');
$icon-clean_hands: unquote('"\\ee3a"');
$icon-connect_without_contact: unquote('"\\ee3b"');
$icon-coronavirus: unquote('"\\ee3c"');
$icon-elderly: unquote('"\\ee3d"');
$icon-follow_the_signs: unquote('"\\ee3e"');
$icon-leave_bags_at_home: unquote('"\\ee3f"');
$icon-masks: unquote('"\\ee40"');
$icon-reduce_capacity: unquote('"\\ee41"');
$icon-sanitizer: unquote('"\\ee42"');
$icon-sick: unquote('"\\ee43"');
$icon-add_task: unquote('"\\ee44"');
$icon-contact_page: unquote('"\\ee45"');
$icon-disabled_by_default: unquote('"\\ee46"');
$icon-facebook: unquote('"\\ee47"');
$icon-groups: unquote('"\\ee48"');
$icon-luggage: unquote('"\\ee49"');
$icon-no_backpack: unquote('"\\ee4a"');
$icon-no_luggage: unquote('"\\ee4b"');
$icon-outbond: unquote('"\\ee4c"');
$icon-published_with_changes: unquote('"\\ee4d"');
$icon-request_page: unquote('"\\ee4e"');
$icon-stacked_line_chart: unquote('"\\ee4f"');
$icon-unpublished: unquote('"\\ee50"');
$icon-align_horizontal_center: unquote('"\\ee51"');
$icon-align_horizontal_left: unquote('"\\ee52"');
$icon-align_horizontal_right: unquote('"\\ee53"');
$icon-align_vertical_bottom: unquote('"\\ee54"');
$icon-align_vertical_center: unquote('"\\ee55"');
$icon-align_vertical_top: unquote('"\\ee56"');
$icon-horizontal_distribute: unquote('"\\ee57"');
$icon-qr_code_2: unquote('"\\ee58"');
$icon-update_disabled: unquote('"\\ee59"');
$icon-vertical_distribute: unquote('"\\ee5a"');

