//zunächst wird unsere custom-Version von bootstrap importiert
@import "bootstrap-tbo-main";

/******
Jetzt definieren wir für unser Layout spezifische Bereiche und können Bootstrap-Variablen, Mixins und Funktionen nutzen. 
Und per @extend verwenden. Ebenso natürlich eigene Variablen.
******/

/**** 
Verschoben nach partial-lcp.scss zur Page Speed Optimierung
*****

header {
	
}

#wrapper {
	
}

#hero {
	
}****/



footer {}