/******
Hinweis: In dieser Datei werden nur Styles angepasst/erweitert, die für den "largest contentfull paint" nötig sind, also alles was fü
das erste Laden der Website (im oberen Bereich) nötig ist. Alles andere gehört in die "custom-main.scss"
******/

//zunächst wird unsere tbo-Version importiert
@import "tbo/partial-tbo-lcp";


/******
Jetzt definieren wir für unser Layout spezifische Dinge nach Belieben und können Bootstrap-Variablen, Mixins und Funktionen nutzen. 
Und per @extend verwenden. Ebenso natürlich eigene Variablen.
******/